{% extends "main.html" %}

{% block content %}
  <section class="section--center mdl-grid mdl-grid--no-spacing" style="margin-top:-48px">
    <div class="mdl-cell mdl-cell--12-col">
      <h3>About</h3>
      <p>
        Use your phone to look around you in these 'semi virtual reality'
        experiences.
      </p>
      <p>
        I hope to create a collection of 3D visualizations that explain
        concepts in maths and science, much like I have done with
        <a href="http://blog.matthen.com" target="_new">animated gifs
        on my blog</a>.
      </p>
      <p>
        This site is in early testing. Please help me by trying the visualizations
        on your devices, and
        <a class="mdl-navigation__link" href="https://github.com/matthen/mathvr/issues"
           target="_new">reporting any issues you find</a>.
      </p>
      <p>
        The code is at
        <a href="https://github.com/matthen/mathvr"
           target="_new">github.com/matthen/mathvr</a>.
      </p>
      <p style="text-align: right">
        &ndash; Matt Henderson (<a href="https://twitter.com/matthen2" target="_new">@matthen2</a>)
      </p>
    </div>
  </section>
{% endblock %}
