{% extends "main.html" %}

{% block content %}
  <section class="section--center mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--12-col">
      <p>
        This is a collection of mathematical visualizations in semi-virtual
        reality. Open up a visualization below, then use your phone to look
        around and interact.
      </p>
    </div>
  </section>

  {% for visualization in visualizations %}
    <section class="visualization-card section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop
                       mdl-cell--2-col-tablet mdl-cell--4-col-phone
                       mdl-color--grey mdl-color-text--white"
                style="background-image: url('{{root_dir}}/images/{{visualization.name}}.png')">
          <a href="vis/{{visualization.name}}.html" title="View {{visualization.title}}.">
            <i class="material-icons">play_circle_filled</i>
          </a>
        </header>
      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>{{visualization.title}}</h4>
          <p>
            {{visualization.description}}
          </p>
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}
