<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>vr.matthen</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{root_dir}}/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="vr.matthen">
    <link rel="apple-touch-icon-precomposed" href="{{root_dir}}/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{root_dir}}/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{root_dir}}/images/favicon.png">
    <!--
      TODO(matt) add icon images
    -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{root_dir}}/css/style.min.css">
  </head>
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">VR.matthen</span>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <nav class="mdl-navigation mdl-layout-spacer">
          <a class="mdl-navigation__link" href="/index.html">
            <i class="material-icons">home</i>
            Visualizations
          </a>
          <a class="mdl-navigation__link" href="/about.html">
            <i class="material-icons">info</i>
            About
          </a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="https://github.com/matthen/mathvr/issues" target="_new">
            <i class="material-icons">add</i>
            Report an issue
          </a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">
              &copy; Matt Henderson 2015 - {% now "Y" %}
            </div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="http://blog.matthen.com" href="my blog">blog.matthen.com</a></li>
            </ul>
          </div>
        </footer>
      </main>


    </div>
    <script src="{{root_dir}}/js/material.min.js"></script>
  </body>
</html>
