{% extends "main.html" %}
{% block title %}
 &dash; {{visualization.title}}
{% endblock %}
{% block content %}

  <div id="canvas_wrapper">
  </div>
  <dialog class="mdl-dialog" id="webgl_dialog">
    <h4 class="mdl-dialog__title">No WebGL</h4>
    <div class="mdl-dialog__content">
      <p>
        This device does not support WebGL, so the visualization cannot work.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://get.webgl.org/troubleshooting/"
         target="_new" class="mdl-button mdl-button--colored mdl-button--raised">
        troubleshoot
      </a>
    </div>
  </dialog>

  <dialog class="mdl-dialog" id="fullscreen_dialog">
    <h4 class="mdl-dialog__title">Enter full screen</h4>
    <div class="mdl-dialog__content">
      <p>
        Enter full screen to start the visualization.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised">
        full screen
      </button>
    </div>
  </dialog>
  <script src="{{root_dir}}/js/vr.min.js"></script>
  <script src="{{root_dir}}/js/three.min.js"></script>
  <script src="{{root_dir}}/js/{{visualization.name}}.js"></script>
{% endblock %}
