{% extends "main.html" %}
{% block description %}{{visualization.description.strip}}{% endblock %}
{% block title %} - {{visualization.title}}{% endblock %}
{% block head %}
  <meta property="og:image" content="{{root_dir}}/images/{{visualization.name}}.png">
{% endblock %}
{% block pre_layout %}
  <div id="canvas_wrapper">
  </div>
  <dialog class="mdl-dialog" id="orientation_dialog">
    <h4 class="mdl-dialog__title">Only available on mobile devices</h4>
    <div class="mdl-dialog__content">
      <p>
        Visualizations require a gyroscope and compass, and work best with a
        handheld device. Try opening the page on your phone or tablet.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="{{root_dir}}"
         class="mdl-button mdl-button--colored mdl-button--raised">
        close
      </a>
    </div>
  </dialog>

  <dialog class="mdl-dialog" id="webgl_dialog">
    <h4 class="mdl-dialog__title">No webGL</h4>
    <div class="mdl-dialog__content">
      <p>
        This device does not support webGL, so the visualization cannot work.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <a href="https://get.webgl.org/troubleshooting/"
         target="_new" class="mdl-button mdl-button--colored mdl-button--raised">
        troubleshoot
      </a>
      <a href="{{root_dir}}"
         class="mdl-button mdl-button--colored mdl-button--raised">
        close
      </a>
    </div>
  </dialog>

  <dialog class="mdl-dialog" id="fullscreen_dialog">
    <div class="mdl-dialog__content">
      <p>
        Enter full screen to start the visualization.
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised"
              id="fullscreen_button">
        full screen
      </button>
    </div>
  </dialog>

  <div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  <script src="{{root_dir}}/js/vr.min.js"></script>
  <script src="{{root_dir}}/js/three.min.js"></script>
  <script src="{{root_dir}}/js/{{visualization.name}}.js"></script>
  <script src="{{root_dir}}/js/dialog-polyfill.min.js"></script>
{% endblock %}
